.title {
    text-align: center; 
    font-size: x-large;
}

.message {
    text-align: center;
}

.footer {
    display: flex; 
    justify-content: center;
    padding-bottom: 15px; 
}

.button {
    border-radius: 20px;
}