.container {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh;
}

.container-text {
    text-align: left; 
    margin-left: 300px;
}

.title {
    font-size: 5em; 
    font-weight: bold; 
    margin-bottom: 50px;
}

.subtitle {
    font-size: 2em;
}