<app-breadcrumb></app-breadcrumb>

<div class="container">

    <mat-card class="card">

        <mat-card-content>
            
            <form [formGroup]="form" *ngIf="form">
            
                <div class="form-div">

                    <div class="fields-div">

                        <h1 class="card-title">Alterar senha</h1>
    
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Nova senha</mat-label>
                            <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" autocomplete="on">
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            @if (form.get('password')?.errors?.['required']) {
                                <mat-error>Senha é <strong>obrigatório</strong></mat-error>
                            }
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Confirmar nova senha</mat-label>
                            <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput formControlName="confirmPassword" autocomplete="on">
                            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            @if (form.get('confirmPassword')?.errors?.['required']) {
                                <mat-error>Confirmação de senha é <strong>obrigatória</strong></mat-error>
                            }
                            @if (form.errors?.['passwordNoMatch']) {
                                <mat-hint class="form-input-hint">As senhas <strong>não conferem</strong></mat-hint>
                            }
                        </mat-form-field>

                        <button [disabled]="form.invalid" mat-flat-button color="primary" class="form-button" (click)="onSubmit()">Salvar</button>
                        <button mat-flat-button class="form-button" (click)="onPreviousPage()">Voltar</button>
                    
                    </div>

                </div>
            
            </form>

        </mat-card-content>

    </mat-card>

</div>