<mat-grid-list [cols]="breakpoint" rowHeight="100%" (window:resize)="onResize($event)">

    <mat-grid-tile class="grid-container">
        <img class="grid-image" src="../assets/banner/banner_960_1080.png"/>
    </mat-grid-tile>

    <mat-grid-tile class="grid-container">

        <form [formGroup]="form">
        
            <mat-stepper class="form-stepper" orientation="vertical" linear="false">

                <mat-step [stepControl]="form">

                    <ng-template matStepLabel>Insira seus dados pessoais</ng-template>
                    
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input type="text" matInput formControlName="name">
                        @if (form.get('name')?.errors?.['required']){
                            <mat-error>Nome é <strong>obrigatório</strong></mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>CPF</mat-label>
                        <input type="text" matInput formControlName="cpf" maxlength="14" mask="CPF_CNPJ">
                        @if (form.get('cpf')?.errors?.['required']){
                            <mat-error>CPF é <strong>obrigatório</strong></mat-error>
                        }
                    </mat-form-field>
                    
                    <div>
                        <button mat-button (click)="onSignIn()">Voltar</button>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>

                </mat-step>

                <mat-step [stepControl]="form">

                    <ng-template matStepLabel>Insira e-mail e senha</ng-template>

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="Ex: exemplo@gmail.com">
            
                        @if (form.get('email')?.errors?.['email'] && !form.get('email')?.errors?.['required']) {
                            <mat-error>Insira um e-mail válido</mat-error>
                        }
            
                        @if (form.get('email')?.errors?.['required']) {
                            <mat-error>E-mail é <strong>obrigatório</strong></mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" autocomplete="on">
                        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
            
                        @if (form.get('password')?.errors?.['required']) {
                            <mat-error>Senha é <strong>obrigatório</strong></mat-error>
                        }
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Confirmar nova senha</mat-label>
                        <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput formControlName="confirmPassword" autocomplete="on">
                        <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                            <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        @if (form.get('confirmPassword')?.errors?.['required']) {
                            <mat-error>Confirmação de senha é <strong>obrigatória</strong></mat-error>
                        }
                        @if (form.errors?.['passwordNoMatch']) {
                            <mat-hint class="form-input-hint">As senhas <strong>não conferem</strong></mat-hint>
                        }
                    </mat-form-field>
                    
                    <div>
                        <button mat-button matStepperPrevious>Voltar</button>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>

                </mat-step>

                <mat-step [stepControl]="form">
                    
                    <ng-template matStepLabel>Informações de contato</ng-template>

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Telefone</mat-label>
                        <input type="text" matInput formControlName="phone" mask="(00) 00000-0000">
                        @if (form.get('phone')?.errors?.['required']){
                            <mat-error>Telefone é <strong>obrigatório</strong></mat-error>
                        }
                    </mat-form-field>

                    <div>
                        <button mat-button matStepperPrevious>Voltar</button>
                        <button type="button" mat-button [disabled]="form.invalid" (click)="onSubmit()">Finalizar</button>
                    </div>

                </mat-step>

            </mat-stepper>

        </form>

    </mat-grid-tile>
    
</mat-grid-list>