/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: ghostwhite }
body { margin: 0; }

*:not(mat-icon){
    font-family: Inter, sans-serif !important;
}

.custom-menu {
    min-width: 300px !important;
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.05) !important;
    margin-top: 25px;
}

.custom-sidenav {
    border-right: 1px dashed rgba(0, 0, 0, 0.1) !important;
}

.custom-button {
    box-shadow: none !important;
}